body{
background-color: black;
}

h1{
  color:blue;
  font-size: 40px;
}

.max{
   color: white;
   font-size: 16;
}
           
.minibol{
   color: orangered;
   font-size: 16;     
}

.minibal{
   color: aqua;
   font-size: 16;     
}

#Manchester{
   font-size: 18;
   color: blueviolet;
}

#roundCorners{
    border-radius: 25px;
    padding: 10px;
    width: 150px;
    height: 50px;
    background:gold;
    font-size: 18px;
}